html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 99.5vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  background-image: url("./assets/stardew-bg.png");
  background-size: cover;
}

main {
  display: grid;
  width: 100%;
  height: 80%;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.scores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 4px solid rgba(0, 0, 0, 0.5);
  border-radius: 13px;
}

.battleground {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.scores,
.battleground {
  width: 80vw;
  margin: auto;
}

#results {
  grid-column: span 2;
  background-color: #1f1f1f;
  border-radius: 5px;
  color: #fff;
  font-size: 26px;
  font-weight: 900;
}

button {
  padding: 6px;
  margin: 6px 10px;
  height: 80%;
  width: 80%;
  background-color: #fdbc6e;
  background: linear-gradient(
    to bottom,
    #ffc576 25%,
    #fdbc6e 25% 50%,
    #f5b56f 50% 75%,
    #ecac66 75%
  );
  border: 16px groove #fa9305;
  border-radius: 16px;
  border-image: url("./assets/border.png") 30% fill;
}

button:hover {
  border-image: url("./assets/border-highlight.png") 30% fill;
}
footer {
  font-size: 0.75rem;
}
.choices button {
  width: 100px;
  height: 100px;
}

img {
  image-rendering: pixelated;
  width: 48px;
}
